.footer {
  background-color: #084c7b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .logo {
    img {
      width: 10rem;
      height: 10rem;
    }
  }
  .credits {
    color: #fff;
  }
  .links {
    display: grid;
    gap: 0.5rem;
    text-align: right;
    p {
      color: #d0cece;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
