.testimonialText {
  .speech {
    position: relative;
    .quotes {
      position: absolute;
      top: -3rem;
      left: -2rem;
      img {
        z-index: 0;
      }
    }
    p {
      font-weight: 600;
      color: rgb(157, 154, 154);
      max-width: 25rem;
      line-height: 1.5rem;
      font-size: 1.1rem;
      z-index: 5;
    }
  }

  .person {
    margin-top: 2rem;
    .name {
      p {
        font-weight: 600;
      }
    }
    .title {
      color: rgb(160, 159, 159);
      margin-top: 5px;
    }
  }
}
